/*CSS for my demonstration project*/
body{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   width: 1000px;
   margin: auto;
   background-color: #ffe4e1
}

h1 {
   color: #8c2061;
   text-size: 30px;
   margin-left: auto;
   text-align: center;
}
.about{color: #8c2061;
             font-size: 30x
}

 h2{
font-style: italic;
color: Black;
text-align: center;
}

h5{display: inline;
}

nav{
   background-color: #ffb2d0;
   height: 60px;
   padding-bottom: 50px;
}
nav ul {
   list-style: none; 
   padding-top: 20px; 
}
nav li {
   display: inline;
}
nav a {
 text-decoration: none;
   color: #8c2061;
   font-size: 1.5em;
   font-weight: bold;
   margin-right: 20px;
  
}
nav a:hover{
   color: black;
}
footer a:hover{
               color: black;}
section {
   float: left;
   width: auto%;
   margin-right: 5%;
   margin-bottom: 20px;
text-align: centre;
}

footer {
   clear: both;
   background-color: #493595;
   color: white;
   height: 30px;
   text-align: center;
}
footer a {
   text-decoration: none;
   color: white;
   margin-left: 20px;
}

table {
  width: 100%;
 s
}
tr
img{border-radius: 20px;}

